.advantage {
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
    justify-content: center;


&__item {
    // flex-basis: calc((100% - 90px) / 4);
    flex-basis: calc(100% - 30px);
    min-width: 320px;
}

&__icon {
    background-color: $color-item-background;
    display: flex;
    height: 120px;
    justify-content: center;
    align-items: center;
}

&__title {
    margin-top: 30px;
    font-weight: 700;
    font-size: 14px;
    text-align: center;
    text-transform: uppercase;
    line-height: 1.1;
}

&__text {
    line-height: 1.7;
    color: $color-item-text;
    margin-top: 10px;
}
}