.client {
    display: flex;
    margin-top: 30px;
    justify-content: center;
    gap: 30px;
    flex-wrap: wrap;
    
    
    @media screen and (min-width: 1200px) {
        margin-top: 50px;
        flex-wrap: nowrap;
    }


&__link {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 92px;
    width: 210px;
    border: 1px solid currentColor;
    border-radius: 4px;
    color: $color-social-icon;
    transition-property: color;
    transition-duration: 250ms;
    transition-timing-function: $timing-function;

    @media screen and (min-width: 768px) {
        width: 226px;
    }
            @media screen and (min-width: 1200px) {
                width: 170px;
            }


&:hover,
&:focus {
    color: $color-brand-blue;
    outline: transparent;
}
}
}