.contact {
    display: none;
    margin-left: auto;

            @media screen and (min-width: 768px) {
                    display: flex;
                    flex-direction: column;
                    gap: 10px;
                    align-items: flex-start;
                    
                }
            @media screen and (min-width: 1200px) {
                    flex-direction: row;
                    gap: 30px;
                    align-items: center; }


&__icon {
    margin-right: 8px;
    fill: currentColor;
    height: 14px;

    @media screen and (min-width: 1200px) {
        margin-right: 10px;
    height: 16px;}
}

&__link {
    font-size: 12px;
    font-weight: 500;
    color: $color-item-text;
    letter-spacing: 0.02em;
    line-height: 1.1;
    text-align: right;
    display: flex;
    transition-property: color;
    transition-duration: 250ms;
    transition-timing-function: $timing-function;

    @media screen and (min-width: 1200px) {
        font-size: 14px;
    }


&:hover,
&:focus {
    color: $color-brand-blue;
    outline: transparent;
}
}
}