.backdrop {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: $color-backdrop-background;
    transition-property: opacity, visibility;
    transition-duration: 300ms;
    transition-timing-function: $timing-function;
}

.is-hidden {
    pointer-events: none;
    visibility: hidden;
    opacity: 0;
}

.modal {
    position: absolute;
    padding: 40px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(1);
    border-radius: 4px;
    background-color: $color-white;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
        0px 2px 1px rgba(0, 0, 0, 0.2);

        @media screen and (max-width: 1199px) {
            width: 95%;
            max-width: 450px;
            height: 95%;
            max-height: 609px;
            overflow: scroll;
          }
          @media screen and (min-width: 1200px) {
            width: 528px;
            height: 581px;
          }
}

.close {
    background-color: transparent;
}

.close__btn {
    position: absolute;
    top: 8px;
    right: 8px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background-color: $color-white;
    border: 1px solid $color-modal-close-border;
}