$font-family: "Roboto", sans-serif;
$color-brand-blue: #2196f3;
$color-brand-blue-transparent: rgba(33, 150, 243, 90%);
$color-slogan-footer-backround: #2f303a;
$color-item-text: #757575;
$color-item-background: #f5f4fa;
$color-body-text: #212121;
$color-white: #fff;
$color-black: #000;
$color-backdrop-background: rgba(0, 0, 0, 20%);
$color-modal-close-border: rgba(0, 0, 0, 10%);
$color-job-background: rgba(47, 48, 58, 80%);
$color-footer-text: rgba(255, 255, 255, 60%);
$color-newsletter-border: rgba(255, 255, 255, 30%);
$color-contact-form-item-border: rgba(33, 33, 33, 20%);
$color-social-icon-footer: rgba(255, 255, 255, 10%);
$color-line: #ececec;
$color-leaflet-border: #eee;
$color-social-icon: #afb1b8;
$timing-function: cubic-bezier(0.4, 0, 0.2, 1);